<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</head>
<body >
<div  class="mdui-container-fluid">
<div class="mdui-table-fluid"  >
    <table class="mdui-table">
        <thead>
        <tr>
            <th>#</th>
            <th>选修课类型</th>
            <th>要求学分</th>
            <th>已获学分</th>


        </tr>
        </thead>

        {% for i in data %}
<!--          {% set sc =  i[1]|int %}-->
            {% if i[1] == i[2] %}
              <tr style="background-color: #00c12b87" >
            {% else %}
              <tr>

              {% endif %}
         <td>{{ data.index(i)+1 }}</td>
            {% for j in i %}
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </table>
</div>
</div>
</body>
</html>